<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038962314147-jkc4so4bqko1igmqo6csap3hkd6uqi5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038962314147-jkc4so4bqko1igmqo6csap3hkd6uqi5c</string>
	<key>API_KEY</key>
	<string>AIzaSyD0VkyoLAM9-mtscW3UUGzPRCAMP3vO2HI</string>
	<key>GCM_SENDER_ID</key>
	<string>1038962314147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnboilerplate</string>
	<key>PROJECT_ID</key>
	<string>rnboi-c6fcd</string>
	<key>STORAGE_BUCKET</key>
	<string>rnboi-c6fcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038962314147:ios:c8234472cf08a643022816</string>
</dict>
</plist>