<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645771067509-b5v7areirb03cq6mcqeg39t3dta9m0b9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645771067509-b5v7areirb03cq6mcqeg39t3dta9m0b9</string>
	<key>API_KEY</key>
	<string>AIzaSyBtGpTUaK_ODH55SjGrX4CmBzRxw72BjDE</string>
	<key>GCM_SENDER_ID</key>
	<string>645771067509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnboilerplate.staging</string>
	<key>PROJECT_ID</key>
	<string>rnboilerplatestage</string>
	<key>STORAGE_BUCKET</key>
	<string>rnboilerplatestage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645771067509:ios:360c65a3b752a119c5383c</string>
</dict>
</plist>